body{
    background-color: #888787;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    height: 50vh;
    background-color: #5099ca;
}
.btn{
    font-style: italic;
    color:#fff;
    font-size: 1.5em;
}