.timer_box_01{
background-color: rgb(103, 135, 177);
width: 385px;
padding: 15px 0 15px 20px;
border: 2px solid #000;
border-radius: 3px;
}
.timer_h1{
    padding: 0 0 0 17px; 
}
.timer_btn{
    padding: 0 0 0 17px; 
    font-size: 1.5em;
    color: #fff;
    font-style: italic;
}
.gray{
      background-color: rgb(197, 195, 195);
}


.timer_box_01 button{
    background-color: rgb(167, 166, 166);
    padding: 3px 17px;
    font-size: 1.3em;
    }

.timer_box_01 .timer{
display: flex;
flex-direction: row;
}
input{
background-color: rgb(251, 251, 251);
width: 269px;
height: 29px;
font-size: 1.1em;
padding-left: 10px;
} 

.timer_box_01 .timer .field{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
   
    }
    .timer_box_01 .timer .field:not(:first-child){
        margin: 10px 0 0 15px;
    
        }
.timer_box_01 .timer .field .value{
    display: flex;
    flex-direction: column;
    font-size: 2.8em;
    }
.timer_box_01 .timer .label{
    font-size: 1.2em;
    color: #000000;
    }
    
    

